:root {
  --color-primary: #581845;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

.search {
  position: relative;
  top: 0.1rem;
  left: 34.5rem;
  border: none;
  padding: 0.2rem 1rem;
  font-size: 1.3rem;
  border-radius: 0.9rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--color-background-900);
}
.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.search::placeholder {
  color: var(--color-background-100);
}
