:root {
  --color-primary: #581845;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

#ProductID {
  width: 190px;
  height: 200px;
  position: relative;
  left: 3rem;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 12rem;
  row-gap: 10px;
}

video {
  width: 55%;
  height: 200px;
  object-fit: fill;
  margin-left: 26rem;
}

.productItems {
  transition: all 1s;
  margin-top: 2rem;
  padding: 20px;
  cursor: pointer;
}

.productCard {
  position: relative;
  background-color: transparent;
  margin: 1rem;
  height: 18rem;
  width: 18.5rem;
}

.productCard:hover {
  background-color: var(--color-red-dark);
  transform: translateY(-0.5rem);
  box-shadow: 0.1rem 0.75rem 1.5rem #bbbbbbbb;
  border-radius: 20px;
  transition: 0.4s;
  color: black;
}

.productItems p {
  display: flex;
  margin: 4px 1%;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.productshoppingcart {
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.productsbookmark {
  position: absolute;
  right: 2rem;
  margin: 1rem;
  font-size: 1.5rem;
  transition: 0.2s;
  cursor: pointer;
}

.productsbookmark:hover {
  fill: goldenrod;
}

.productsfirealt {
  position: absolute;
  font-size: 1.5rem;
  left: 0.4rem;
  margin: 1rem;
}

.productsfirealt:hover {
  fill: goldenrod;
  cursor: pointer;
}
